.body{
  background-color: #90CAF9;
  font-family: 'Roboto', sans-serif;
}

.weather-app{
  margin-top: 20px;

  @media screen and (min-width: 600px) {
    margin-top: 60px;
  }
}



.nav{

}


.hero-icon--src{
  width: 100px;
  // animation-name:             rotate;
  animation-duration:         100s;
  animation-iteration-count:  infinite;
  animation-timing-function: linear;
  &:hover{

    // must fix: on leave -> rotate to start
  }
  @media (min-width: 400px) {
    width: 200px;
  }
  @media (min-width: 600px) {
    width: 300px;
  }
}

.hero-temp{
  margin-top: 40px;
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-weight: 100;
  @media (min-width: 400px) {
    font-size: 60px;
  }
  @media (min-width: 600px) {
    font-size: 80px;
  }
}

.hero-location{
  text-align: center;
  color: #fff;
  font-weight: 100;
}

.hero-desc{
  padding: 0 20px;
  padding-bottom: 40px;
  color: #fff;

  &:first-of-type{
    text-align: right;
  }

  h3{
    font-size: 14px;

    @media (min-width: 400px) {
      font-size: 18px;
    }
  }
  p{
    font-weight: 300;
    color: #fff;
  }
}

.following-days_container{
  margin: 0 auto;
  max-width: 400px;

  p {
    color: #fff;
  }
}

.following-days--inner{
  display: flex;

}

.container--desc{
  margin-top: 20px;
  display: flex;
  flex-wrap:wrap;
}

.following-days_part {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  color: #fff;

  &:nth-of-type(2n+1){
    border-right: 3px solid #fff;
  }
}

.following-days_part {

  &:nth-of-type(2n+1){
    text-align: right;
    p{
      text-align: right;
    }
    h2{

    }
    .following-days_part--inner:after{
      left: initial;
      right: 0;
    }
  }
  &:nth-of-type(2n+2){
    margin-top: 100px;
    .day-icon{
      width: 40px;
      height: 40px;
      float: right;
    }
    p{
      text-align: left;
    }
  }
}

.following-days_part--inner {
  padding: 0 30px;
  position: relative;
  &:after{
    content: '';
    width: 20px;
    height: 20px;
    border-top: 3px solid #fff;

    position: absolute;
    top: 50%;
    left: 0;
  }
}

.following-days_content{
  padding: 0 30px;
  position: relative;
}




